{% extends 'server/master.html' %}

{% block page_title %}
Delete item
{% endblock %}

{% block page_content %}
<form method="post">
    {% csrf_token %}
    <span>Запись {{ object.name }} будет удалена.</span>
    <input type="submit">
</form>
{% endblock %}