{% extends 'server/master.html' %}

{% load static %}

{% block page_static %}
<link rel="stylesheet" href="{% static 'products/css/detail.css' %}">
{% endblock %}

{% block page_title %}
Product detail
{% endblock %}

{% block page_content %}
<div class="product">
    <h1 class="product__name">
        {{ object.name }}
    </h1>
    <span class="product__description">
        {{ object.description }}
    </span>
    <span class="product__cost">
        {% if object.cost %}
        {{ object.cost }}
        {% else %}
        <b>
            Значение отсутствует
        </b>
        {% endif %}
    </span>
</div>
{% endblock %}
