.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(172px, 1fr)) ;
    grid-gap: 16px;
    margin: 16px 0 0;
}

.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4px 8px;
}

.products__item-image {
    position: relative;
    width: 100%;
    height: 198px;
    margin-bottom: 16px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.products__item-name {
    position: relative;
    font: 600 18px sans-serif;
}

.products__item-description {
    position: relative;    
    margin-top: 8px;
    font: 400 16px sans-serif;
}

.products__item-cost {
    position: relative;
    margin-top: 8px;
    font: 500 16px sans-serif;
    text-align: right
}

.products__item-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.show-more-button_hidden {
    display: none;
}