{% extends 'server/master.html' %}

{% block page_title %}
About
{% endblock %}

{% block page_content %}
<h1 class="page__title">
    О проекте
</h1>
<div class="branding">
    <img src="" alt="" class="branding__background">
    <span class="branding__snippet">
        {{ description }}
    </span>
</div>
{% endblock %}
