{% extends 'server/master.html' %}

{% block page_title %}
Contacts
{% endblock %}

{% block page_content %}
<h1 class="page__title">
    Контакты
</h1>
<ul class="contacts-list">
    {% for itm in objcts_list %}
    <li>
        <span>
            {{ itm }}
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
