{% extends 'server/master.html' %}

{% block page_title %}
Main page
{% endblock %}

{% block page_content %}
<h1 class="page__title">
    Главная страница
</h1>
<h2>
    {{ name }}
</h2>
<div class="page__preview">
    <img src="" alt="" class="branding__background">
    <span class="branding__snippet">
        Главная страница Интернет-витрины
    </span>
</div>
{% endblock %}
